body {
    --custom-color: #f0addd; /* Define the custom color variable here */
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .navbar-custom {
    background-color: var(--custom-color); /* Use the custom color variable here */
  }