.main {
    height: 125vh;
    width: 100%;
    padding-left: 35px;
    display: flex;
    align-items: center;
  }
  
  .card {
    margin: 100px auto 0;
    display: inline-block;
    width: 18rem;
    height: 600px;
    perspective: 700px;
    align-items: center;
  }
.cards-wrapper{
    display: flex;
}