.search-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 8px solid #5c5a5c;
    padding: 20px;
    width: 90vw; /* Set an absolute width (e.g., 90% of viewport width) */
    max-height: 80vh;
    overflow-y: auto;
    z-index: 9999;
}